<% setup(:body_id=>"new", :body_classes=>"sessions") %>

<%= form_tag session_path, :class=>'signin' do -%>

    <fieldset class="common-form standard-form">
        <table cellspacing="0">
            <tr>
                <th><%= label_tag 'username' %></th>

                <td><%= text_field_tag 'login', @login %></td>
            </tr>
            <tr>
                <th><%= label_tag 'password' %></th>
                <td><%= password_field_tag 'password', nil %>
                    <% if (@login) %>
                    <small><a href="/sessions/reset_password/<%= @login %>">Forgot?</a></small>
                    <% end %>
                </td>
            </tr>
            <tr>

                <th></th>
                <td><%= check_box_tag 'remember_me', '1', @remember_me %>
                    <%= label_tag 'remember_me', 'Remember me' %></td>
            </tr>

            <tr>
                <th></th>
                <td><input id="signin_submit" name="commit" type="submit" value="Sign In"/></td>
            </tr>
        </table>

    </fieldset>
<% end %>

<% content_for :sidebar do %>
    <div class="section">
        <div class="section-header">
            <h1>First Time?</h1>
        </div>
        <p class="complete">
          Use your regular Twitter username, and on your first login, enter any password you like. Any questions, ask <a href="/ben_h">@ben_h</a>.
        </p>
        <p class="complete">
          If you can't log in, maybe your Twitter client has already logged you in with your normal password. (Don't worry, they're hashed!)
        </p>
    </div>

<% end %>

<% content_for :javascript do %>
    $('#login').focus();
<% end %>

