<div class="well sidebar-nav">

  <a href="/<%= h current_user.username %>" class="url" rel="contact" title="<%= h current_user.name %>"><img alt="<%= h current_user.name %>" class="side_thumb photo fn" height="73" src="<%= current_user.avatar.url %>" width="73"/></a>
  <span id="me_name"><%= h current_user.username %></span>
  <span id="me_tweets"><span id="update_count"><%= current_user.tweets.count %></span> tweets</span>
  <%= render partial: 'users/user_stats', object: current_user %>
  <%= render partial: 'user/promotion', object: promotions.sample %>
  <%= sidebar_tab 'home', 'Home' %>
  <%= sidebar_tab 'replies' do %>
    <span id="message_count" class="stat_count"><%= current_user.mentions.count %></span> @<%= current_user.username %>
  <% end %>
  <%= sidebar_tab 'direct_messages' do %>
    <span id="message_count" class="stat_count"><%= current_user.direct_messages_received.count %></span> Direct Messages
  <% end %>
  <%= sidebar_tab 'search', 'Search' %>
  <%= sidebar_tab 'favorites', 'Favorites' %>
  <a href="/invitations" class="section-links">add</a>
  <h1>Following</h1>
  <%= render partial: 'users/friend', collection: current_user.friends[0...35] %>
  <% if current_user.friends_count > 35 %>
   <a href="/friends" rel="me">View All&hellip;</a>
  <% end %>

  <ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
    <li><%= link_to "Link1", "/path1"  %></li>
    <li><%= link_to "Link2", "/path2"  %></li>
    <li><%= link_to "Link3", "/path3"  %></li>
  </ul>
</div><!--/.well -->
