<% fav = !current_user.nil? && !current_user.favorite_tweets.find_by_id(tweet.id).nil? %>

<li class="hentry status <% fav ? "favorite" : "" -%>u-<%= h tweet.user.username -%><%= (!current_user.nil? && (tweet.user==current_user)) ? " mine" : "" -%><%= ((type=='mine' && tweet_counter==0) || type=='friends_update') ? " latest-status":"" %>" id="status_<%= h tweet.id -%>" data-username="<%= tweet.user.username %>" data-status-id="<%= tweet.id %>">
    <% if (type!='mine') %>
    <span class="thumb vcard author">
        <a href="/<%= h tweet.user.username %>" class="url">
            <img alt="<%= h tweet.user.name %>" class="photo fn" height="48" src="<%= h tweet.user.avatar.url %>" width="48"/></a>
    </span>
    <% end %>
    <span class="status-body">
        <% if (type!='mine') %>
            <strong><a href="/<%= h tweet.user.username %>" class="screen-name" title="<%= h tweet.user.name %>"><%= h tweet.user.username %></a></strong>
        <% end %>
        <span class="entry-content"><%= create_links(tweet.tweet) %></span>
        <span class="meta entry-meta">
            <a href="/<%= h tweet.user.username %>/status/<%= h tweet.id %>" class="entry-date" rel="bookmark"><span class="published"><%= time_ago_in_words(tweet.created_at) %> ago</span></a>
            <span>from <%= h tweet.source %></span>
            <% unless tweet.in_reply_to_status.nil? %>
              <%= link_to "in reply to #{tweet.in_reply_to_status.user.username}", status_path(tweet.in_reply_to_status) %>
            <% end %>
        </span>
    </span>
    <span class="actions">
        <div>
            <a class="fav-action <%= fav ? "" : "non-" %>fav" id="status_star_<%= h tweet.id %>" title="<%= fav ? "un-" : "" %>favorite this update">&nbsp;&nbsp;</a>
        </div>
    </span>
    <ul class="actions-hover">
      <li>
        <span class="reply">
          <span class="reply-icon icon"></span>
          <%= link_to 'Reply', in_reply_to_status_id: tweet.id, status: "@#{tweet.user.username} " %>
        </span>
      </li>
    </ul>
</li>

<% content_for :javascript do %>
  $('span.reply a').click(function() {
    var status = $(this).parents('li.status');
    $('input#in_reply_to_status_id').val(status.data('status-id'));
    $('textarea#status').val('@' + status.data('username') + ' ').focus();
    setCaretToPos(document.getElementById('status'), $('textarea#status').val().length);
    return false;
  });
<% end %>
