<table class="stats">
    <tr>
        <td>
            <a href="/<%= h user_stats.username %>/friends" id="following_count_link" class="link-following_page" rel="me">
                <span id="following_count" class="stats_count numeric"><%= user_stats.friends_count %></span>
                <span class="label">Following</span>
            </a>
        </td>
        <td>

            <a href="/<%= h user_stats.username %>/followers" id="follower_count_link" rel="me">
                <span id="follower_count" class="stats_count numeric"><%= user_stats.followers_count %></span>
                <span class="label">Followers</span>

            </a>
        </td>
        <td>
            <a href="/<%= h user_stats.username %>" rel="me"><span id="update_count" class="stats_count numeric"><%= user_stats.tweets.timeline.count %></span>
                <span class="label">Updates</span></a>
        </td>
    </tr>
</table>
