<% setup(:title=>user.username, :body_id=>"profile") %>
<div class="profile-head">
    <h2 class="thumb clearfix">
        <!-- <img alt="Default_profile_bigger" height="73" src="/images/default_profile_bigger.png" width="73" /> -->
        <%= user.username %>
    </h2>

    <div class="clear"></div>
    <div id="follow_actions_<%= user.id %>" class="follow-actions <%= user.username %>">
        <% if (user != current_user) %>
            <div class="follow-control">
                <div id="follow-toggle" class="closed med-btn">

                    <img class="ticon" src="/images/tiny_check.gif" alt="following" class="followicon"/><strong>Following</strong>&nbsp;
                </div>

                <div id="follow-details">
                    <p id="following">
                        <strong>You follow <%= h user.username %></strong>
                        <input type="button" id="remove_button" class="remove-button" value="Remove"/>
                        <br/>
                                <span class="desc"><%= h user.username %>
                                    's updates appear in your <a href="/home">timeline</a>.</span>
                    </p>

                    <div id="notifications">
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <div class="hentry">
    </div>
</div>

<%= render :partial => "statuses/update" %>

<%= render :partial => "statuses/tweets" %>

<%= render partial: 'sidebar', locals: {user: user} %>

<% content_for :javascript do %>
    $('body#profile ul#tabMenu li a#updates_tab, body#favourings ul#tabMenu li a#favorites_tab').isSidebarTab();
<% end %>
