<% content_for :sidebar do %>

    <div id="profile" class="section profile-side">
  <span class="section-links">
      </span>
        <address>
            <ul class="about vcard entry-author">
                <li><span class="label">Name</span> <span class="fn"><%= h @duser.name %></span></li>
                <% if @duser.location %>
                    <li><span class="label">Location</span> <span class="adr"><%= h @duser.location %></span></li>
                <% end %>
                <% if @duser.bio %>
                    <li id="bio"><span class="label">Bio</span> <span class="bio"><%= h @duser.bio %></span></li>
                <% end %>
            </ul>
        </address>

        <%= render :partial=>'user_stats', :object=> @duser %>

    </div>

    <ul id="primary_nav" class="sidebar-menu">
      <%= sidebar_tab @duser.username, %Q{<span id="update_count" class="stat_count">#{@duser.tweets.count}</span> Tweets} %>
      <%= sidebar_tab "#{@duser.username}/favourites", 'Favourites' %>
    </ul>

    <hr/>

    <% if false %>
    <%# 'message' and 'block' are both broken, so... %>
    <div id="profile_actions">
      <h2 class="sidebar-title">Actions</h2>
      <ul class="sidebar-actions">
        <li><a href="/direct_messages/create/<%= @duser.id %>">message</a> <%= h @duser.username %></li>
        <li><a href="/blocks/confirm/<%= @duser.id %>" style="color: gray;">block</a> <%= h @duser.username %></li>
      </ul>
    </div>

    <hr/>
    <% end %>

    <div id="following">
      <h2 class="sidebar-title">Following</h2>
      <div id="following_list">
        <%= render :partial=>'friend', :collection=>@duser.friends[0..35] %>
        <% if (@duser.friends_count > 36) %>
        <div id="friends_view_all"><a href="/friends" rel="me">View All&hellip;</a></div>
        <% end %>
      </div>
    </div>

<% end %>
