<% content_for :head do %>
  <%= stylesheet_link_tag 'settings' %>
<% end %>

<div class="page-header">
  <h2>
    <a href="/settings/profile"><img alt="corkboard_cc" class="photo fn" height="48" src="<%= @user.profile_url %>" width="48" /></a>
    <%= "#{@user.username}’#{'s' unless @user.username[-1] == 's'}" %> settings
  </h2>
</div>

<ul id="settings_nav" class="pills clearfix">
  <%= sidebar_tab 'settings', 'Settings', :prefix => '/account' %>
  <!-- <%= sidebar_tab 'password', 'Password', :prefix => '/account' %> -->
  <%= sidebar_tab 'picture', 'Picture', :prefix => '/account' %>
</ul>
